# Data types and Structures Questions

## 1. What are data structures, and why are they important?

- Data structures aka data container is an efficient way for organising and storing data so that it can be accessed and manipulated easily.
- Data structures play very important role in Data science because of its following property.
-  

1.   Efficient data management :
Organise and store data in a way that makes it easily accessible, searchable, updatable.
2.   Optimized Performance :
When working on project with cluster of
data, it helps us to choose right data structure to make the code run faster and smoother.
3. Solving complex problem :
It become the backbone of smart solution in tech as it structure the logic of problem solving.
4. Memory Efficiency : It use the memory very wisely which prevent data duplication.
5. Fundamental for Algorithm : Every algorithms depends on some data structures to work correctly.

## 2. Explain the difference between mutable and immutable data types with examples.

- **Mutable Data Types** : A data type whose elements can be changed, added or removed even after their creation are called Mutable Data Types.
- Examples : List, Sets, Dictionary
- **Immutable Data Type** : A data type whose elements can not be changed once they are created are called immutable data type.
- Examples : String, tuples, float, etc

Let us take an example of list and tuple, which show elements of list can be changed as it is mutable but elements of tuples cannot changed as it will throw error.

In [ ]:
# Mutable data type = list
my_list=["XYZ","Delhi","42street",5+8j]
my_list

['XYZ', 'Delhi', '42street', (5+8j)]

In [ ]:
my_list[1]="Banglore"
my_list #updated

['XYZ', 'Banglore', '42street', (5+8j)]

In [ ]:
my_tuple=("XYZ","Delhi","42street",5+8j)
my_tuple

('XYZ', 'Delhi', '42street', (5+8j))

In [ ]:
try:
    my_tuple[1]="Banglore"
except TypeError as e:
    print("Error : ",e)

Error :  'tuple' object does not support item assignment

## 3. What are the main difference between lists and tuples in Python?

The differences between lists and tuples are given below :
- List is mutable collection whereas tuple is immutable collection.
- For list we use [ ] but for tuple we use ( ).
- Since list is mutable, it has many built-in methonds but as tuple is immutable it has less built-in methods as caompared to list.
- List is used for the data which we can futher customize as per our requirements, but tuples used for tha data which is constant and connot be alter after.

## 4. Describe how dictionaries stores data?

Dictionaries are type of data structure that stores data as key-value pairs. Each value is accessed by unique key (not index likewise in list/tuple)
- In dictionary, for every value we put in , there must be a specific and unique key.
- For example, if we want to store detail of student in a dictionary, it can be done by below code.

In [ ]:
student_details={"Name":"PQRS","Address":"Lucknow","Course":"DS with Gen AI","Type":"Pro"}
student_details

{'Name': 'PQRS',
 'Address': 'Lucknow',
 'Course': 'DS with Gen AI',
 'Type': 'Pro'}

Here "Name", "Address","Course" and "Type" are Key which are unique and used to access the details or value.

In [ ]:
print(student_details["Name"])
print(student_details["Course"])

PQRS
DS with Gen AI

## 5. Why might you use a set instead of a list in Python?

We often use set instead of a list to remove the duplication of data and to get the unique value.

## 6. What is a string in Python, and how is it different from a list?

String is a sequence of character where each character is unit of text that represent and manipulate textual data.
- Strings are different from list in following ways:
1. String is immutable and list is mutable.
2. The character of string cannot be changed after creation unlike list.
3. String is sequence of character but list has sequence of items.
4. It can only and only hold character value or anything enclosed in " ".  But list can hold all types of data.

## 7. How does tuples ensure data integrity in Python?

Tuple ensure data integrity as:
1. It is immutable, so once tuple is created for any confidential, credential data, it can not be modified as per anyone's convenience.
2. Tuples are hashable so the programming language trusts it to be unchanging.
3. It prevent from accidental update.
4. It keeps the data safe and secure as once the data is created in tuple no one can add, remove, or reordered it.

## 8. What is hash table, and how does it relate to dictionaries in Python?

A hash table  is a data structure that stores data in *key-Value* pairs and gives fast access for the key.
- It is related to dictionaries as in python dictionary works on key-value function. For any element of dictionary, ther must be an immutable key assigned so that the value can be accessed easily. These keys work as index .

## 9. Can lists contain different data types in Python.

Yes, list can contain different data types in python, as it can be anything like:
- string
- integer
- float
- another list
- boolean
This feature of list make it more flexible.

## 10. Explain why strings are immutable in Python.

In python, if we create any string value then after its creation we cannot modify, edit it. And hence  strings are immutable in Python.

## 11. What advantages do dictionaries offer over list for certain tasks?

1. faster look up: As dictionaries is a key-valued function which make it hassle free and super fast unlike list.
2. Dictionaries hold keys for each value like a one-to-one relationship. but list only hold values in sequences.
3. Dictionaries make the code index-free, only by the key we can accessed values, but in list we have to look for indices.

## 12. Describe a scenario where using a tuple would be preferable over a list

Let us assume a scenario in which we have to create biometric details of customer in bank. By using tuple for biometric details we can store data for permanently as once biometric details are uploaded it couldn't changed further and it helps the bank in maintaning privacy of customer. But if we use list instead of tuple, we can easily modify the biometric details even after it beings uploaded. This will lead to a breach of the customer's privacy.

## 13. How do sets handle duplicate values in Python?

In python, Sets automatically remove the duplicates value. If we add any element to the set, Set will check it, if the value is already exists there, it will skips. So by ignoring the duplicates value, we can say that set handle duplicate values.

## 14. How does the "in" keyword work differently for lists and dictionaries?

The "in" keyword is membership operator which work differently for lists and dictionary as :
- In list "in" keyword is used to check whether the *value* present in list or not.
- In dictionary "in" keyword is used to check whether the *Key* present in dictionary or not.

## 15. Can you modify the elements of a tuple? Explain why or why not?

No, we can not modify the elements of a tuple.
Because tuple is immutable and once it is created, cannot be modified further.

## 16. What is nested dictionary, and give an example of its use case?

As per the name suggested nested, the nested dictionary is a dictionary inside another dictionary.
- Use case :
Suppose we have to collect login credentials of office staff. In this scenario we can use nested dictionary as.

In [ ]:
office_staff_cred ={"Principal":{"username":"prin@123","password":"MK09MK","Authority":"Admin"},
                    "Cashier":{"username":"cash@123","password":"DK87DK","Authority":"Staff"},
                    "Receptionist":{"username":"Rec@123","password":"MD9090","Authority":"staff"}}

In [ ]:
print(office_staff_cred["Principal"]["username"])
print(office_staff_cred["Receptionist"]["Authority"])

prin@123
staff

## 17. Describe the time complexity of accessing elements in a dictionary.

Since python dictionary are implemented using hash tables so it allows fast look-up. When a key is accessed, it directly give the corresponding value of that key. This means that, accessing a value using its key takes constant time, regardless the size of dictionary.
But sometime it become complicated when we have same hash value for more than one key.

## 18. In what situations are list preffered over dictionaries?

There are some situations when lists are preferred over dictionaries as:
1. When we want something in well orderd or sequence.
2. If the values dont need label.
3. When we look for easy iteration of values/items.
4. When duplication of items is not big deal.

## 19. Why are dictionaries considered unorderd and how does that affect data.

In dictionary, the keys will appear in the way we added them but not support sorting function which means dictionary is not considered as an ordered data types.
It is so because it works on hash table feature in which sorting or ordering not allowed. Its main purpose is being fast not orderd.
- It affect data in following way:
1. Output order will not be predictible
2. Can create problem in debugging.
3. For every value, a unique key will be required.

## 20. Explain the difference between a list and a dictionary in terms of data retrieval.

A list accesses elements by their index, while dictionary retrieves data using its unique key.

# Practical Questions

## 1. Write a code to create a string with your name and print it.

In [14]:
my_name="Pragati"
print(my_name)

Pragati

In [15]:
type(my_name)

str

## 2. Write a code to find the length of the string "Hello World".

In [19]:
str1="Hello World"
print(str1)
print("The length of given string is : ",len(str1))

Hello World
The length of given string is :  11

## 3. Write a code to slice the first 3 character from the string "Python Programming".

In [21]:
word="Python Programming"
word[:3]

'Pyt'

## 4. Write a code to convert the string "hello" to uppercase.

In [24]:
code="hello"
code.upper()

'HELLO'

## 5. Write a code to replce the word "apple" with "orange" in the string "I like apple".

In [31]:
S="I like apple"
S.replace("apple","orange")

'I like orange'

## 6. Write a code to create a list with numbers 1 to 5 and print it.

In [32]:
num_list=[1,2,3,4,5]
print(num_list)

[1, 2, 3, 4, 5]

In [33]:
num_list=list(range(1,6))
print(num_list)

[1, 2, 3, 4, 5]

## 7. Write a code to append a number 10 to the list [1,2,3,4].

In [35]:
lis=[1,2,3,4]
lis.append(10)
lis

[1, 2, 3, 4, 10]

## 8. Write a code to remove a number 3 from the list [1,2,3,4,5

In [36]:
lis1=[1,2,3,4,5]
lis1.remove(3)
lis1

[1, 2, 4, 5]

## 9. Write a code to access the second element in the list ['a','b','c','d']

In [37]:
lis2=['a','b','c','d']
lis2[1]

'b'

## 10. Write a code to reverse the list [10,20,30,40,50]

In [39]:
my_lis=[10,20,30,40,50]
my_lis.reverse()
my_lis

[50, 40, 30, 20, 10]

## 11. Write a code to create a tuple with the elements 100,200,300 and print it.

In [40]:
my_tuple=(100,200,300)
print(my_tuple)

(100, 200, 300)

## 12. Write a code to access the second to last element tuple ('red','green','blue','yellow')

In [41]:
color=('red','green','blue','yellow')
color[-2]

'blue'

## 13. Write a code to find the minimum number in the tuple (10,20,5,15).

In [42]:
num=(10,20,5,15)
min(num)

5

## 14. Write a code to find index of the element "cat" in the tuple ('dog','cat','rabbit',)

In [43]:
animal=('dog','cat','rabbit')
animal.index('cat')

1

## 15. Write a code to create a tuple containng three different fruits and check if 'kiwi' is in it.

In [44]:
fruits=('mango','grapes','banana')
fruits

('mango', 'grapes', 'banana')

In [45]:
'kiwi' in fruits

False

## 16. Write a code to create a set with the elements 'a' , 'b', 'c' and print it.

In [46]:
set1={'a','b','c'}
print(set1)

{'b', 'a', 'c'}

In [47]:
type(set1)

set

## 17. Write a code to clear all elements from the set {1,2,3,4,5}

In [49]:
set1={1,2,3,4,5}
set1.clear()
print(set1)

set()

## 18. Write a code to remove the element 4 from the set {1,2,3,4}

In [51]:
s={1,2,3,4}
s.remove(4)
s

{1, 2, 3}

## 19. Write a code to find the union of two sets {1,2,3} and {3,4,5}

In [52]:
s1={1,2,3}
s2={3,4,5}
s1 | s2

{1, 2, 3, 4, 5}

## 20. Write a code to find the intersection of two sets {1,2,3} and {2,3,4}

In [53]:
s1={1,2,3}
s2={2,3,4}
s1 & s2

{2, 3}

## 21. Write a code to create a dictionary with the keys "name", "age" and "city" and print it.

In [54]:
detail={"Name":"ABCD","Age":"24","City":"Banglore"}
print(detail)

{'Name': 'ABCD', 'Age': '24', 'City': 'Banglore'}

## 22. Write a code to add a new key-value pair "country" : "USA" to dictionary {'name':'John','age':30}

In [56]:
John_detail={"Name":"John","Age":30}
John_detail

{'Name': 'John', 'Age': 30}

In [58]:
John_detail["Country"]="USA"
John_detail

{'Name': 'John', 'Age': 30, 'Country': 'USA'}

## 23. Write a code to access the associated with the key "name" in the dictionary {'name','Alice','Age':'30}

In [59]:
detail={"Name":"Alice","Age":30}
detail["Name"]

'Alice'

## 24. Write a code to remove the key 'age' from dictionary {'name':'Bob','age':'22','city':'NewYork'}

In [61]:
dictt={"Name":"Bob","Age":22,"City":"New York"}
dictt

{'Name': 'Bob', 'Age': 22, 'City': 'New York'}

In [63]:
del dictt["Age"]
print(dictt)

{'Name': 'Bob', 'City': 'New York'}

## 25. Write a code to check if the key "city" exists in dictionary {'name':'Alice','city':'Paris}

In [64]:
d1={"Name":"Alice","City":"Paris"}
d1

{'Name': 'Alice', 'City': 'Paris'}

In [67]:
"City" in d1

True

In [69]:
if "City" in d1:
    print(True)

True

## 26. Write a code to create a list , a tuple, and dictionary. and print them all.

In [70]:
my_list=["Praggy",24,"Lucknow"]
my_tuple=("Praggy",24,"Lucknow")
my_dict={"Name":"Praggy","Age":24,"Address":"Lucknow"}
print(my_list)
print(my_tuple)
print(my_dict)

['Praggy', 24, 'Lucknow']
('Praggy', 24, 'Lucknow')
{'Name': 'Praggy', 'Age': 24, 'Address': 'Lucknow'}

## 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [72]:
import random
my_num=[random.randint(1,100) for _ in range(5)]
my_num

[27, 4, 31, 48, 15]

In [74]:
my_num.sort()
print("No. in ascending order",my_num)

No. in ascending order [4, 15, 27, 31, 48]

## 28. Write a code to create a list with strings and print the element at third index.

In [75]:
listt=["ABC","DEF","GHI","JKL","MNO"]
listt[2]

'GHI'

## 29. Write a code to combine two dictionary into one and print the result

In [76]:
dict1 = {'apple': 5, 'ball': 4}
dict2 = {'cat': 3, 'daisy': 5}

dict1.update(dict2)
print(dict1)

{'apple': 5, 'ball': 4, 'cat': 3, 'daisy': 5}

## 30. Write a code to convert a list of strings into a set.

In [77]:
my_list = ["apple", "banana", "apple", "cherry", "banana"]
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}